* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #860404;
    --secondary-color: #b35400;
    --text-color: #fafafa;
    --bg-color: #202020;
    --accent-color: #050505;
    --text-accent: #707070;
    --glow: 0 0 15px #c6040470;
    --hover-glow: 0 0 20px #ff0505a0;
}

body {
    font-family: 'Inter', sans-serif;
    line-height: 1.6;
    color: var(--text-color);
    background: var(--bg-color);
    background-size: 100% 100%;
    position: relative;
    overflow-x: hidden;
}

main, header, footer {
    position: relative;
    z-index: 1;
}

h1, h2, h3, h4, .logo {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
}

/* Header Styles */
header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--accent-color);
    backdrop-filter: blur(10px);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    border-bottom: 2px solid var(--primary-color);
}

nav {
    max-width: 1200px;
    max-height: 70px;
    margin: 0 auto;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    background: linear-gradient(45deg, var(--primary-color), var(--secondary-color));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: var(--glow);
}

.logo img {
    margin: auto 1rem auto 0.5rem;
    height: 2rem;
    overflow: hidden;
    border-radius: 100%;
}

.nav-links {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.nav-links a {
    text-decoration: none;
    color: var(--text-color);
    transition: color 0.3s;
    position: relative;
}

.nav-links a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -4px;
    left: 0;
    background-color: var(--primary-color);
    transition: width 0.3s;
    transition-delay: 0.2s;
}

.nav-links a:hover::after {
    width: 100%;
    box-shadow: 0 0 20px var(--primary-color);
}

/* Main Styles */
/* main {
    
} */

section {
    padding: 4rem 1rem;
    max-width: 1200px;
    margin: 0 auto;
}

.home {
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    overflow: hidden;
    padding: 6rem 2rem 2rem 2rem;
}

.home h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
    background: linear-gradient(45deg, var(--primary-color), var(--secondary-color));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.home p {
    color: var(--text-accent);
}

/* About Style */
.message p {
    position: relative;
    padding-left: 1rem;
    border-left: 3px solid var(--primary-color);
}

/* Project Style */
.project-grid {
    display: grid;
    grid-template-columns: repeat(3, 30%);
    gap: 5%;
    margin-top: 2rem;
}

.project {
    background-color: var(--accent-color);
    border: 1px solid var(--primary-color);
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    padding: 0;
    box-shadow: 0 0 10px rgba(255, 51, 0, 0.1);
    transition: transform 0.3s ease-out, box-shadow 0.3s ease-out;
}

.project-image {
    height: 200px;
    background-color: var(--accent-color);
    border-radius: 8px 8px 0 0;
}

.project h3 {
    color: var(--primary-color);
    text-shadow: 0 0 10px rgba(255, 60, 0, 0.4);
    padding: 1.5rem;
    font-size: 1.5rem;
    margin: 0;
}

.project p {
    padding: 0 1.5rem;
    color: var(--text-color);
    opacity: 0.8;
    margin-bottom: 1.5rem;
}

.tags {
    padding: 1.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
    align-items: center;
}

.tags span {
    background-color: transparent;
    color: var(--primary-color);
    padding: 0.5rem 0.75rem;
    border-radius: 4px;
    font-size: 0.875rem;
    text-align: center;
    border: 1px solid var(--primary-color);
    text-shadow: 0 0 10px rgba(255, 81, 0, 0.4);
    transition: all 0.3s ease-out;
}

.tags span:hover {
    background-color: var(--primary-color);
    color: var(--bg-color);
    box-shadow: 0 0 5px rgba(255, 72, 0, 0.2),
                0 0 20px rgba(255, 60, 0, 0.4);
}

/* Footer Styles */
footer {
    background-color: var(--accent-color);
    padding: 2rem 1rem;
    text-align: center;
    border-top: 2px solid var(--primary-color);
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 1.5rem;
}

.social-icon {
    color: var(--primary-color);
    font-size: 2.5rem;
    transition: all 0.3s;
    text-shadow: var(--glow);
}

.social-icon:hover {
    transform: translateY(-3px);
    text-shadow: var(--hover-glow);
    color: var(--primary-color);
}

.footer-bottom {
    color: var(--text-accent);
    opacity: 0.7;
    font-size: 0.8rem;
}

/* @media (max-width: 768px) {
    .nav-links {
        gap: 1rem;
    }
    
    h1 {
        font-size: 2.5rem;
    }
    
    .subtitle {
        font-size: 1.2rem;
    }
    
    .cta-buttons {
        flex-direction: column;
    }
    
    .project-grid {
        grid-template-columns: 1fr;
    }

    .about-content {
        grid-template-columns: 1fr;
        gap: 2rem;
    }

    .about-image {
        order: -1;
    }

    .social-icons {
        gap: 1.5rem;
    }

    .social-icon {
        font-size: 2rem;
    }
} */
